

body {
  background: black;
  cursor: not-allowed;

}

#cityArt {
  color: ghostwhite;
  position: absolute;
  width: 50vw;
  left: 35%;
  top: 70%;
}


#alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 45%);
  font-family: arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: ghostwhite;
  animation: blinker 2s step-start infinite;
  text-align: center;
}


#aboutflash {
  animation: blinker 2s step-start infinite;
  text-align: center;  

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#ytvideo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
}

.optionOne {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-125%, -90%);
  font-family: arial, sans-serif;
  font-weight: 400;
}

.optionTwo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(10%, -80%);
  font-family: arial, sans-serif;
  font-weight: 400;
}

.asciibottom {
  position: absolute;
  left: 44%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  white-space: nowrap;
  color: ghostwhite;
  text-align: center;
}
