

body {
  background: black;
  cursor: not-allowed;
}

#displayArt {
  color: ghostwhite;
  width: 50vw;

}


.alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: ghostwhite;
  animation: blinker 2s step-start infinite;
  text-align: center;
}

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: ghostwhite;
  animation: blinker 2s step-start infinite;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.optionOne {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-125%, -80%);
  font-family: arial, sans-serif;
  font-weight: 400;
}

.optionTwo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(10%, -80%);
  font-family: arial, sans-serif;
  font-weight: 400;
}


#about {
    position:absolute;
    right:20px;
    bottom:15px;
    z-index:1;
    right:10;
    color: darkgray;
}

a:link {
  text-decoration: none;
  color: darkgray;
}

a:visited {
  text-decoration: none;
  color: darkgray;
}

a:hover {
  text-decoration: none;
  color: darkgray;
}

a:active {
  text-decoration: none;
  color: darkgray;
}


.ascii {
  position: absolute;
  left: 44%;
  top: 35%;
  transform: translate(-50%, -50%);s
  white-space: nowrap;
  color: ghostwhite;
  text-align: center;
}